---
layout: default
---

<div class="posts">
  <!-- 遍历分页后的文章 -->
  {% for post in paginator.posts %}
  <!-- 帖子以斜线打头的相对路径 -->
  {% assign post_url = post.url | append: '/' | replace: '//', '/' | prepend: site.baseurl | prepend: site.url | %}
  <article class="post">

    {% if post.banner_image %}
    <div class="banner-image">
      <a href="{{ post_url }}"
        title="{{ post.title }}">
      <img 
          src="{{ "post.banner_image }}" 
          alt="{% if post.banner_image_alt %}{{ post.banner_image_alt }}{% else %}{{ post.title }} {% endif %}">
      </a>
    </div>
    {% endif %}

    <h1 class="post-title">
      <a href="{{ post.url | append: '/' | replace: '//', '/' | prepend: site.baseurl | prepend: site.url |  }}">
        {{ post.title }}
      </a>
    </h1>

    <p class="post-meta">
    {% if (post.categories.size > 0 %}
      <span class="categories">
      {{ post.categories | array_to_sentence_string }}
      </span> |
    {% endif %}
    <span class="post-date">
    {{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}  
    </span>
    </p>

    <!-- 页面摘要的源码 -->
    {{ post.excerpt }}
    <a href="{{ post.url | append: '/' | replace: '//', '/' | prepend: site.baseurl | prepend: site.url |  }}">
      继续阅读 »
    </a>
  </article>
  {% endfor %}
</div>

<!-- Posts的总数 -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  <!-- 下一页的页号 -->
  {% if paginator.next_page %}
      <a class="pagination-item older btn" href="{{ paginator.next_page_path | prepend: site.baseurl | append: '/' | replace: '//', '/' }}">较旧文章</a>    
  {% else %}
    <span class="pagination-item older btn-disabled">较旧文章</span>
  {% endif %}
  
  {% if paginator.previous_page %}
    <a class="pagination-item newer btn " href="{{ paginator.previous_page_path | prepend: site.baseurl | append: '/' | replace: '//', '/' }}">较新文章</a>
  {% else %}
    <span class="pagination-item newer btn-disabled">较新文章</span>
  {% endif %}  
  
</div>
{% endif %}

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "{{ '' | prepend: site.baseurl | prepend: site.url | append: '/' }}"
    }
}
</script>
